<mat-form-field fxFlex="100">
  <input matInput 
  [placeholder]="inputObj.label"
  type="number"
  (keyup)="onValChange(formControl.value)"
  [value]="formControl.value | customNumber:2"
  [formControl]="formControl">
  <span matPrefix>€&nbsp;</span>
  <mat-error *ngIf="formControl.hasError('required')">
      You must enter a <strong>{{inputObj.label}}</strong>
  </mat-error>
  <mat-error *ngIf="formControl.hasError('min')">
      <strong>{{inputObj.label}}</strong> must be greater than 0
  </mat-error>
</mat-form-field>