input {
  width: 180px;
}

section {
  width: 100%;
  height: 100vh;
  .calculator {
    margin: auto;
    width: 60%;
    border: 3px solid #73ad21;
    padding: 10px;
    .calculator-header {
      width: auto;
      height: auto;
      margin: 0 auto;
    }
  }
}
