<gb-header></gb-header>

<section class="main-container" fxLayout="column" fxLayoutWrap fxLayoutAlign="center">
    <div class="buttons-container" fxLayoutAlign="center">
        <gb-vat-buttons></gb-vat-buttons>
    </div>
    <div class="checkbox-container">
        <gb-round-checkbox></gb-round-checkbox>
    </div>
    <div class="inputs-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center">
      <gb-input fxLayoutAlign="center" fxFlex="33" fxFlex.sm="100" *ngFor="let input of inputs" [inputObj]="input"></gb-input>
    </div>
</section>