.main-container {
  height: 100%;
  padding: 10% 15% 0;
}

.inputs-container {
  margin-top: 20px;
  height: 400px;
}

gb-vat-buttons {
  width: 100%;
  max-width: 400px;
  text-align: center;
  min-height: 64px;
}
