<!--<gb-vat-buttons (recalculate)="recalculate()"></gb-vat-buttons>
<gb-gross-input (calculateByGross)="calculateByGross($event)" [(grossValue)]="grossValue"></gb-gross-input>
<gb-vat-input (calculateByVat)="calculateByVat($event)" [(vatValue)]="vatValue"></gb-vat-input>
<gb-net-input (calculateByNet)="calculateByNet($event)" [(netValue)]="netValue"></gb-net-input>-->
<!-- First part done -->
<section>

  <div class="calculator">
    <div class="calculator-header">
      <gb-vat-buttons (recalculate)="recalculateBy()"></gb-vat-buttons>
    </div>

    <calculator-input (event)="recalculateBy($event)" param="gross" [(value)]="grossVal"></calculator-input>

    <calculator-input (event)="recalculateBy($event)" param="vat" [(value)]="vatVal"></calculator-input>

    <calculator-input (event)="recalculateBy($event)" param="net" [(value)]="netVal"></calculator-input>

  </div>
</section>