@import '~@angular/material/theming';
@include mat-core();

$mat-global-blue: (
  50: #E0E5F2,
  100: #B3BDDF,
  200: #8091CA,
  300: #4D65B5,
  400: #2644A5,
  500: #002395,
  600: #001F8D,
  700: #001A82,
  800: #001578,
  900: #000C67,
  A100: #969BFF,
  A200: #636BFF,
  A400: #303AFF,
  A700: #1722FF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-global-blue-primary: mat-palette($mat-global-blue);
$mat-global-blue-accent:  mat-palette($mat-global-blue, 500, A400, A700);
$mat-global-blue-theme:   mat-light-theme($mat-global-blue-primary, $mat-global-blue-accent);

@include angular-material-theme($mat-global-blue-theme);